* {
  box-sizing: border-box;
}

html {
  min-width: 768px;
}

html, body,
.container, .image-container {
  margin: 0;
  width: 100%;
  height: 100%;
}

#app {
  background: #EFF2F7;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #E0E6ED;
}

.image-container {
  overflow: auto;
}

.image {
  margin: auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

.zoom-level {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  min-width: 42px;
  text-align: center;
  font-family: sans-serif;
  color: #3C4858;
}

.zoom-control-btn {
  vertical-align: middle;
  border-radius: 50%;
  border: 0;
  width: 22px;
  height: 22px;
  background: #8492A6;
  font-size: 14px;
  font-weight: 700;
  color: #E0E6ED;
  cursor: pointer;
  transition: background 0.2s;
  &:hover, &:focus {
    outline: none;
    background: darken(#8492A6, 10%);
  }
}

.image-select-container {
  border-radius: 5px;
  border: 1px solid #D3DCE6;
  background: white;
}

.image-select {
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 5px;
  width: 268px;
  height: 34px;
  line-height: 1;
  font-size: 16px;
}
